/logs
/apache-maven-3.6.0
/BuildData
/Bukkit
/CraftBukkit
/Spigot
/work
banned-ips.json
banned-players.json
BuildTools.jar
BuildTools.log.txt
bukkit.yml
commands.yml
help.yml
ops.json
permissions.yml
spigot.yml
usercache.json
whitelist.json